registry=https://pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/registry/
always-auth=true
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/registry/:username=pat
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/registry/:_password=${AZURE_DEVOPS_NPM_TOKEN}
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/registry/:email=build@example.com
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/:username=pat
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/:_password=${AZURE_DEVOPS_NPM_TOKEN}
//pkgs.dev.azure.com/viewsonic-ssi/_packaging/mvb-fe/npm/:email=build@example.com
